= haml :index

#confirmModal.modal.fade
  .modal-header
    %h3
      Thanks for sending stuff!
  .modal-body
    %p text text text
  .modal-footer
    %button.btn{ :"data-dimiss" => 'modal' }
      Okay!


