= haml :navbar
%script{ :type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
%script{ :type => 'text/javascript', :src => '/bootstrap/js/bootstrap.js' }
%script{ :type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' }
%script{ :type => 'text/javascript', :src => '/javascripts/geocomplete/jquery.geocomplete.min.js' }
%script{ :type => 'text/javascript', :src => '/javascripts/bootstrap-datepicker.js' }
.container#page
  .hero-unit
    %h1 Got Food Poisoning?
    %p
      %img{ :src => 'img/health.png' }
      Think a Chicago restaurant made you sick?
    %p 
      %img{ :src => 'img/cityhall.png' }
      Tell the City of Chicago's restaurant inspectors what happened! 
    %p
      %img{ :src => 'img/chat.png' }
      We'll tell you when they do something about it.
  .row
    .span12
      %form.form-horizontal.well{ :action => 'submit', :method => 'post' }
        %fieldset
          %legend
            .lead
              What happened? 
          .control-group
            %label.control-label{ :for => 'restaurant_name' }
              What restaurant was it?
            .controls
              %input#restaurant-name.input-xlarge{ :type => 'text', :name => 'restaurant_name', :placeholder => "e.g.  Pete's Fish Shack" }
          .control-group
            %label.control-label{ :for => 'restaurant_address' }
              What was its address?
            .controls
              %input#restaurant_address.input-xlarge{ :type => 'text', :name => 'restaurant_address', :"data-geo" => 'formatted_address', :placeholder => 'e.g.  70 E Lake St, Chicago, IL' }
          .control-group
            %label.control-label{ :for => 'problem_description' }
              What happened?
            .controls
              %textarea#problem_description{ :name => 'problem_description', :rows => '6' }
              %p.help-block
                Spare no detail!
          .control-group
            %label.control-label{ :for => 'problem_date' }
              When did it happen?
            .controls
              .input-prepend
                %span.add-on
                  %i.icon-calendar
                %input#problem_date.datepicker.input-xlarge{ :type => 'text', :name => 'problem_date', :placeholder => 'e.g. 02/16/2012' }

        %fieldset
          %legend
            .lead
              How can we reach you?
          .span8
            &nbsp;To let you know when the City responds, we need your email or twitter handle.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>No spam, promise.</b>
          %br
          %br
          %br
          .control-group
            %label.control-label
              Your name
            .controls
              %input#person_name{ :type => 'text', :name => 'person_name', :placeholder => 'Joe Citizen' }
          .control-group
            %label.control-label{ :for => 'twitter_handle' }
              Twitter handle
            .controls
              .input-prepend 
                %span.add-on
                  @
                %input#twitter_handle{ :type => 'text', :name => 'twitter_handle', :placeholder => 'joecitizen' }
          .control-group
            %label.control-label{ :for => 'person_email' }
              Email address 
            .controls
              .input-prepend
                %span.add-on
                  %i.icon-envelope
                %input#person_email{ :type => 'text', :name => 'person_email', :placeholder => 'jcitizen@gmail.com' }
        .form-actions
          %button.btn.btn-large.btn-primary{ :type => 'submit' }
            Submit
          %button.btn
            Cancel

        / JS calls to initiate restaurant name autocomplete and datepicker widget
        :javascript
          $(".datepicker").datepicker();

          var chicagoBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(41.691747,-87.54692),
            new google.maps.LatLng(41.991511,-87.806472));

          $("#restaurant-name").geocomplete({
            details: "form",
            detailsAttribute: "data-geo",
            types: ['establishment'],
            bounds: chicagoBounds,
            componentRestrictions: {country: 'us'}
          });

          $("#restaurant_address").geocomplete({
            types: ['geocode'],
            bounds: chicagoBounds,
            componentRestrictions: {country: 'us'}
          });





