!!! html
%html
  %head
    %title food-poison.us
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/bootstrap/css/bootstrap.css' }
    %link{ :rel => 'stylesheet', :href => 'css/site.css' }
    %link{ :rel => 'stylesheet', :href => 'css/datepicker.css' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => '/' }
            food_poison.us
          %ul.nav.pull-right
            %li.divider-vertical
              %li
                %a{ :href => '/about' } 
                  What is this? 
            %li.divider-vertical
            %li
              %a{ :href => '/tweets' }
                Tweets
            %li.divider-vertical
            %li
              %a{ :href => '/replies' }
                @Replies
            %li.divider-vertical
            %li
              %a{ :href => '/reports' }
                Reports
            %li.divider-vertical

