/* Site-wide styles */
body {
    background-image:url('/img/purty_wood.png');
}

.well {
    background-color: #fff; 
    padding-bottom: 0px;
}

/* Hero unit styles */
.hero-unit { 
    background-color: #fff;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-unit h1 {
    margin-bottom: 35px;
}

.hero-unit .page-header {
    margin-bottom: 40px;
}

.hero-unit p {
    margin: 0 0 20px 0px;
}

.hero-unit img {
    margin-right: 7px;
}

.hero-unit .thumbnail {
    margin: 0 0 80px 146px;
}


/* Form styles */
.control-group {
    padding-bottom: 30px;
}

.control-group .control-label {
    font-size: 18px;
    width: 195px;
    margin-left: 140px;
}

.control-group .controls {
    margin-left: 380px;
}

.control-group input {
    width: 300px;
    height: 30px;
    font-size: 19px;
    font-color: #333;
    padding: 3px 0px 0px 7px;
    margin-top: 0px;
    margin-left: -4px;
}

.control-group textarea {
    width: 295px;
}

.input-prepend .add-on {
    height: 20px; 
    font-size: 19px; 
    padding-top: 9px; 
}

.input-prepend input {
    width: 270px;
}


